<div class="jumbotron text-center">
	<div class="container">
		<h1>Welcome to LIQUIDATA</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe voluptatem inventore deleniti eum autem minima
			odio quod ut exercitationem, laudantium nam aspernatur error quos deserunt doloribus fuga temporibus cum, rem eius
			quaerat veritatis consequatur sunt! Perferendis consequatur consequuntur illo doloribus? Qui hic et magnam modi
			atque quisquam veritatis omnis, ipsum perferendis molestias, ipsa optio earum amet commodi voluptate ratione cumque
			animi iusto dolores a. Laborum voluptatibus aut quidem ex autem quasi quis cum numquam quibusdam vel, eos adipisci
			unde suscipit aliquid quam enim veritatis excepturi eius explicabo accusantium? Minima id neque rerum, delectus
			numquam vero consequuntur. Ratione quo distinctio officia.</p>
		<button class="btn btn-primary" [routerLink]="['/contact']">Contact Us</button>
	</div>
</div>